@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

.main-logo-font {
    font-family: 'Niconne', cursive;
}


* {
    font-family: 'Zilla Slab', serif;
}

.sub-heading {
    /* font-family: 'Climate Crisis', cursive; */
    font-family: 'Limelight', cursive;
}

.p-tags {
    font-family: 'Zilla Slab', serif;
}

/* .brighten-landing {
    background-image: url('/img/landing1.jpg');
    background-size: cover;
} */


[data-scroll] {
    opacity: 0;
    will-change: transform, scale, opacity;
    transform: translateY(6rem) scale(0.93);
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0) scale(1);
}

[data-scroll="out"] {
    opacity: 0;
}

.ant-image-mask-info {
    display: none !important;
}

.img_:hover {
    cursor: pointer;
}
